.content-body .section{
	margin-bottom: 1em;
}

 .dashboard-stat {
  position: relative;
  display: block;
  padding: 30px 20px;
  background-color: #eee;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
 .dashboard-stat,
 .dashboard-stat:hover,
 .dashboard-stat:active,
 .dashboard-stat:focus {
  color: #666;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  outline: none;
}
 .dashboard-stat i,
 .dashboard-stat:hover i,
 .dashboard-stat:active i,
 .dashboard-stat:focus i {
  color: #e4e4e4;
}
 .dashboard-stat:hover {
  background-color: #e6e6e6;
}
 .dashboard-stat:hover i {
  color: #dcdcdc;
}
 .dashboard-stat:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
 .dashboard-stat.primary,
 .dashboard-stat.primary:hover,
 .dashboard-stat.primary:active {
  color: #FFF;
  background-color: #e5412d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
 .dashboard-stat.primary i,
 .dashboard-stat.primary:hover i,
 .dashboard-stat.primary:active i {
  color: #dd301b;
}
 .dashboard-stat.primary:hover {
  background-color: #e3351f;
}
 .dashboard-stat.primary:hover i {
  color: #d42e1a;
}
 .dashboard-stat.secondary,
 .dashboard-stat.secondary:hover,
 .dashboard-stat.secondary:active {
  color: #FFF;
  background-color: #f0ad4e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
 .dashboard-stat.secondary i,
 .dashboard-stat.secondary:hover i,
 .dashboard-stat.secondary:active i {
  color: #eea236;
}
 .dashboard-stat.secondary:hover {
  background-color: #eea236;
}
 .dashboard-stat.secondary:hover i {
  color: #ec9924;
}
 .dashboard-stat.tertiary,
 .dashboard-stat.tertiary:hover,
 .dashboard-stat.tertiary:active {
  color: #FFF;
  background-color: #888888;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
 .dashboard-stat.tertiary i,
 .dashboard-stat.tertiary:hover i,
 .dashboard-stat.tertiary:active i {
  color: #7b7b7b;
}
 .dashboard-stat.tertiary:hover {
  background-color: #7b7b7b;
}
 .dashboard-stat.tertiary:hover i {
  color: #717171;
}
 .dashboard-stat .visual {
  z-index: 10;
  float: right;
  width: 54px;
  height: 100%;
}
 .dashboard-stat .details {
  position: relative;
  z-index: 11;
  float: left;
  margin-top: -10px;
  text-align: left;
}
 .dashboard-stat .value {
  display: block;
  font-size: 32px;
  font-weight: 600;
}
 .dashboard-stat .content-block {
  display: block;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
 .dashboard-stat .visual i {
  position: absolute;
  left: 0;
  left: auto;
  right: 0;
  bottom: 0;
  display: block;
  height: 72px;
  font-size: 72px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  text-shadow: none;
}
 .dashboard-stat .more {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25) !important;
  text-shadow: none;
}



/*------------------------------------------------------------------
[ portlet / .portlet ]
*/

.portlet {
  position: relative;
  clear: both;
  width: auto;
  /* Clearfix Hack */

  /* portlet Plain */

  height: inherit;
}
.portlet .portlet-header {
  position: relative;
  padding: 1px 15px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #ebebeb, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #D5D5D5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
}
.portlet .portlet-header:before,
.portlet .portlet-header:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-header:after {
  clear: both;
}
.portlet .portlet-header h1,
.portlet .portlet-header h2,
.portlet .portlet-header h3,
.portlet .portlet-header h4,
.portlet .portlet-header h5,
.portlet .portlet-header h6 {
  float: left;
  padding: 10px 0;
  margin: 0 1em 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 600;
  color: #555;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.portlet .portlet-header h1 i,
.portlet .portlet-header h2 i,
.portlet .portlet-header h3 i,
.portlet .portlet-header h4 i,
.portlet .portlet-header h5 i,
.portlet .portlet-header h6 i {
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
  font-size: 16px;
  color: #777;
  vertical-align: middle;
}
.portlet .portlet-tools {
  float: left;
  display: inline-block;
  padding: 0;
  margin: 5px 0 0 0;
}
.portlet .portlet-tools > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet .portlet-tools .btn-icon {
  margin-top: -2px;
  color: #555;
  font-size: 16px;
}
.portlet .portlet-tools .btn-icon:hover {
  text-decoration: none;
  background-color: #fff;
}
.portlet .portlet-tools .btn-icon .caret {
  margin-top: -3px;
}
.portlet .portlet-tools .dropdown-menu {
  left: auto;
  right: 0;
}
.portlet .portlet-tools .btn.btn-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.portlet .portlet-tools .form-control.input-sm {
  display: inline-block;
  width: 125px;
  height: 26px;
}
.portlet .portlet-tools .progress {
  margin-top: 0;
  margin-bottom: 0;
  width: 125px;
}
.portlet .portlet-tools .nav-tabs,
.portlet .portlet-tools .nav-pills {
  margin-bottom: 0;
}
.portlet .portlet-tools .nav-pills > li > a {
  padding: 2px 9px;
  font-size: 12px;
  font-weight: 600;
}
.portlet .portlet-tools .nav-pills > li.active > a,
.portlet .portlet-tools .nav-pills > li.active > a:hover,
.portlet .portlet-tools .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #555;
}
.portlet .portlet-content {
  padding: 22px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet .portlet-toolbar {
  padding: 10px 15px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #ebebeb, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #d5d5d5;
}
.portlet .portlet-toolbar:before,
.portlet .portlet-toolbar:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-toolbar:after {
  clear: both;
}
.portlet .portlet-header + .portlet-content,
.portlet .portlet-toolbar + .portlet-content {
  margin-top: 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.portlet .portlet-header + .portlet-toolbar {
  margin-top: 1px;
}
.portlet .portlet-content + .portlet-toolbar {
  margin-top: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.portlet .toolbar-bottom .portlet-content {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.portlet.portlet-nopad .portlet-content {
  padding: 0;
}
.portlet .portlet-content:before,
.portlet .portlet-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.portlet .portlet-content:after {
  clear: both;
}
.portlet.portlet-plain {
  background: transparent;
  border: none;
}
.portlet.portlet-plain .portlet-header {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 8px;
  padding-left: 0;
  background: #fff;
  filter: none;
  border: none;
  border-bottom: 1px dotted #ccc;
}
.portlet.portlet-plain .portlet-header h3 {
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #555;
  line-height: 22px;
}
.portlet.portlet-plain .portlet-header i {
  font-size: 20px;
}
.portlet.portlet-plain .portlet-content {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
  border: none;
}
