/* Add css rules here for your application. */

.vld-Summary {
	color: red;
	display: none;
	border: solid 1px red;
	padding: 5px;
}

.vld-Summary span {
	font-size: 12px;
	font-weight: bold;
}

.vld-Summary-show {
	display: block;
}